input:invalid {
  border: 2px dashed #e5da10;
}

input:valid {
  border: 1px solid #f6efef;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
