

<div class="header bg-white pb-6 pt-4 pt-md-6" >
  <div class="container-fluid" style="background: #f55540">
    <div class="header-body" >

<div class="card mb-3" >
  <img class="card-img-top" src="assets/img/3.png" class="card-img-top" width="500" height="300" alt="Card image cap">
  <div class="card-body" >
    <div *ngIf="JobOffer">
      <h2>Job Offer Details : {{JobOffer.titleOffer}}</h2>
      <p class="card-text"><small class="text-muted"><mark>Start: &ensp;  &ensp; {{JobOffer.startDateoffer}}</mark></small></p>
      <p class="card-text"><small class="text-muted"><mark>End: &ensp;  &ensp; {{JobOffer.endDateoffer}}</mark></small></p>
    <h5 class="card-title">Domaine:{{JobOffer.domaine}}</h5>
      <h5 class="card-title">Company:{{JobOffer.company}}</h5>
      <h5 class="card-title">Addresse:{{JobOffer.addressOffer}}</h5>
      <h5 class="card-title">interview:{{JobOffer.interview}}</h5>
    <p class="card-text">Description:{{JobOffer.description}}</p>
    <button routerLink="/JobOffer-Dashboard"  class="btn btn-primary">Back to JobOffer List</button><br>
    </div>
  </div>
</div>
    </div>
  </div>
</div>
