
<div class="container-fluid mt--7" *ngIf="waiting">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>
            <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>
          </div>
        </div>


      </div>
    </div>
  </div>


  <div class="col-xl-8 order-xl-1">
    <div class="card bg-secondary shadow">
      <div class="card-header bg-white border-0">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">My account</h3>
          </div>
          <!-- <div class="col-4 text-right">
            <a href="#!" class="btn btn-sm btn-primary">Settings</a>
          </div> -->
        </div>
      </div>
      <div class="card-body">
        <form (ngSubmit)="edit($event)" >
          <h6 class="heading-small text-muted mb-4">User information</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label"  >Username</label>
                  <input type="text"   class="form-control form-control-alternative"
                    placeholder="Username"  name="userName" [(value)]="userName">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label"  >Email address</label>
                  <input type="email"  name="email" class="form-control form-control-alternative"
                        [(value)]="user.email">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Country</label>
                  <input type="text"  class="form-control form-control-alternative"
                    placeholder="First name" name="country"  [(value)]="country">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label"  >Adresse</label>
                  <input type="text" name="adresse"  class="form-control form-control-alternative"
                     [(value)]="adresse">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label"  >Phone Number</label>
                  <input type="text"  class="form-control form-control-alternative"
                    placeholder="Last name" name="fonenumber" [(value)]="fonenumber">
                </div>
              </div>
              <!-- <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-last-name">Education Level</label>
                  <input type="text" id="input-last-name" class="form-control form-control-alternative"
                    placeholder="Last name" value="{{user['educationlevel']}}" [(value)]="educationlevel">
                </div>
              </div> -->
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label  ">Job </label>
                  <input type="text"   class="form-control form-control-alternative"
                    placeholder="Last name" name="job" [(value)]="job">
                </div>
              </div>
            </div>
          </div>
          <div class="col-4 text-right">
            <button  class="btn btn-sm btn-primary" >Submit</button>
          </div>
          
        </form>
        <div class="alert alert-success" *ngIf="success">
          Your informations has been modified successfully
          
        </div>
      </div>
    </div>
  </div>
</div>
